h1 {
    color:green;
}

img {
    width: 500px;
}

input {
    padding: 10px;
    border: 1px solid grey;
}

button {
    padding: 7px;
    border: 1px solid green;
    color: white;
    background: tomato;
}
